.owl-stage {
  display: flex;
  align-items: center;
}

.owl-item .card {
  width: 125px;
}

.owl-item .card .card-title {
  font-size: 1.25rem;
}

.owl-item .card .card-subtitle {
  font-size: 1.5rem;
}

.btn-circle {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}