.owl-stage {
  display: flex;
  align-items: center;
}
.owl-item .card {
  width: 100px;
}
@media (min-width: 768px) {
  .owl-item .card {
    width: 150px;
  }
}
.owl-item .card .card-title {
  font-size: 1.25rem;
}
.owl-item .card .card-subtitle {
  font-size: 1.5rem;
}
