.owl-stage {
  display: flex;
  align-items: center;
}

.owl-item .card {
  width: 125px;
}

.owl-item .card .card-title {
  font-size: 1.25rem;
}

.owl-item .card .card-subtitle {
  font-size: 1.5rem;
}